@model Model.Model.CMS_CHANNEL

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>CMS_CHANNEL</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CHANNELNAME)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CHANNELNAME)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CHANNELREDIRECT)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CHANNELREDIRECT)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ISPUB)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ISPUB)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IS_DELETE)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IS_DELETE)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CREATE_DATE)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CREATE_DATE)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MODIFY_DATE)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MODIFY_DATE)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OPERATOR)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OPERATOR)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BZ)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BZ)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CHANNELID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
